/* Estilo para la tarjeta de información */
.info-card {
    display: none;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilo para el botón */
.show-info-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
