/* style.css */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    height: 100px; /* Ajusta la altura según tus necesidades */
    background-image: linear-gradient(to right,#5168b2, #2ECC40);
    background-size: 200% 100%;
    animation: moveBanner 7s linear infinite;
    white-space: nowrap;
}

@keyframes moveBanner {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}
.p1 {
    text-decoration-color: red;
}
