body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  background-color: #ffa751;
  color: var(--color-light);
  letter-spacing: .05rem;
}

main{
  width: 100%;
  margin: auto;
  padding: 1em 8vw;
  background: #ffa751;

  box-shadow:  0 0 20px #ddd;
}

h1{
  text-align: center;
  color: #1F5F74;
  border-bottom: 1px solid #C4CBCE;
  padding-bottom: .2em;
}

form > div{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

form img{
  width: 200px;
  border-radius: 50%;
  border: 6px solid #AAA;
}

form div:first-child{
  align-items: center;
}

form div:first-child input{
  display: none;
}

form div:first-child label{
  background: blue;
  color: white;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 3px;
}

form input{
  padding: 8px 20px;
  border: 1px solid #AAA;
  border-radius: 3px;
}

form button{
  padding: 8px 20px;
  border: 1px solid blue;
  width: 50%;
  background: blue;
  color: white;
  border-radius: 3px;
}

img {
	border: none;
}

button, h1, h2 {
	margin: 0;
	padding: 0;
}

#wrapper {
	width: 100%;
}

h1, h2 {
	padding: 50px 0;
	text-align: center;
}

h2 {
	color: blue;
}

.preload {
	padding-top: 20px;
	text-align: center;
	display: none;
}

.activate-preload {
	display: block;
}

#container-input {
	width: 640px;
	margin: 0 auto;
	border: solid 1px #CCC;
	position: relative;
	overflow: hidden;
}

#container-input .wrap-file .content-icon-camera {
	width: 55px;
	overflow: hidden;
}

#container-input .wrap-file .content-icon-camera:hover {
	background-color: #e6e6e6;
}

#container-input .wrap-file .content-icon-camera .icon-camera {
	width: 36px;
	height: 36px;
	background: url('Imagenes/camera.png') no-repeat;
	cursor: pointer;
	position: absolute;
	top: 8px;
	left: 8px;
}

#container-input .wrap-file .content-icon-camera #file {
	padding: 15px;
	opacity: 0;
	position: relative;
	cursor: pointer;
	left: -120px;
	z-index: 1;
}

#container-input .wrap-file #preview-images .thumbnail {
	width: 120px;
	height: 120px;
	display: inline-block;
	vertical-align: middle;
	border: solid 2px #CCC;
	background-size: cover;
	position: relative;
}

#container-input .wrap-file #preview-images .thumbnail:not(:last-child) {
	margin-right: 5px;
}

#container-input .wrap-file #preview-images .thumbnail .close-button {
	width: 20px;
	height: 20px;
	background-color: black;
	color: white;
	text-align: center;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 100px;
	cursor: pointer;
}

#container-input #publish {
	padding: 15px 35px;
	font-size: 1.1em;
	float: right;
	border: none;
	cursor: pointer;
	background-color: blue;
	color: white;
}

#container-input #publish:hover {
	background-color: blue;
}

/* Estilos de navegación y formulario de inicio de sesión */
#navegacion {
    position: fixed;
    width: 100%;
    z-index: 6666;
    font-family: "montserrat", sans-serif;
    background-color: #ffa751;
}

#menu ul li a {
    text-decoration: none;
    color: black;
    margin: 0 12px;
    transition: 0.5s;
    font-weight: bold;
}

#menu ul li a:hover {
    color: blueviolet;
}

#redes a {
    color: black;
    font-size: 30px;
    margin: 0 10px;
}

#redes ul li a:hover {
    color: blueviolet;
}

#sesion button {
    color: black;
    font-size: 20px;
}

#sesion button:hover {
    color: blueviolet;
}