/* Paleta de colores:
#FACC2F Amarillo
#322BAA Azul
#712C96 Morado
*/

body {
    overflow-x: hidden;
    color: #333333;
    font-family: Arial, Helvetica, serif;
    font-weight: normal;
    margin: 0%;
    padding: 0%;
}


/* Aqui empieza el codigo del Banner */

.banner {
  display: flex; /* Agregamos flexbox para alinear los elementos */
  align-items: center; /* Centramos verticalmente los elementos en el banner */
  width: 100%;
  height: 100px; /* Ajusta la altura según tus necesidades */
  background-image: linear-gradient(to right, #FFA500, #FFFF00);
  background-size: 200% 100%;
  animation: moveBanner 15s linear infinite;
  white-space: nowrap;
}

@keyframes moveBanner {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 200% 0;
  }
}

.countdown-wrapper {
  flex: 1; /* Para que ocupe todo el espacio disponible en el banner */
  text-align: center;
  color: white;
}

.countdown {
  font-size: 18px;
}

#countdown-timer {
  font-size: 24px;
}

/* Aqui termina el codigo del Banner */

/*Contenido de la imagen principal de la página*/
.containerPrincipal{
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(Imagenes/artwork.png);
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 5%;
}

.texto-principal{
  position: absolute;
  top:10%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto-principal h1{
  font-size: 100px;
  font-weight: 1000;
  font-family: Roboto;
  color: #FACC2F;
}

.btn-participa{
  cursor: pointer;
  display:flex;
  border-radius: 0.25rem;
  text-align: center;
  outline: 2px solid transparent;
  color: rgba(128, 0, 128, var(--text-opacity)); 
  border: 2px solid #322BAA;
  background-color:#322BAA; 
  width: 50%;
  height: 40px;
  font-size: x-large;
  font-weight: 600;
  justify-content: center;

}



/* Aqui empieza el codigo de los beneficios-premios */
/* Aqui termina el codigo de los beneficios-premios */





/* Aqui empieza el codigo del css de los eventos */

.containerEventos{
  padding: 3%;
  flex-wrap: wrap;
}

.h1Eventos{
  font-family: Roboto;
  text-align: center;
  font-size: 5rem;
}

.eventos-cards-container{
    padding: 2rem;
    max-width: 1400px;
    display: grid;
    justify-content: center;
    place-content: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-color: black;
  }
  
  .evento-fotos {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .evento-card-body {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    flex-grow: 3; 
  }
  
  .evento-card-title {
    font-size: 2rem;
    margin-bottom: 1px;
    align-items: center;
  }
  

  h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .btn {
    cursor: pointer;
    display:block;
    border-radius: 0.25rem;
    text-align: center;
    outline: 2px solid transparent;
    color: rgba(128, 0, 128, var(--text-opacity)); 
    border: 2px solid purple;
    background-color: transparent; 
    width: 100%;
   
  }
  .btn:hover{
    background-color:purple;
    border-color: #712C96;
  }

  .card-text2 strong {
    font-weight: bold; 
    text-align: left; 
    display: block;
  }
  .col-lg-4 {
   border: #712C96 solid 1px;
   border-radius: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   bottom: 0%;
  }
 
  /*Aquí termina el codigo de css de los eventos/*
    




  /* Aqui empieza el codigo del About Us */
  .containerTextAboutUs{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: larger;
  
  }
  .containerAboutUs{
    background-color: #FACC2F;
    padding: 3%;
  }
  .h1AboutUS{
    font-family: roboto;
    margin: 25% 0% 3% 0;
    padding: 0%;
  }
  /* Aqui termina el codigo del About Us */
