:root {
    --color-dark-xx: #1f232b;
    --color-light: #000000;
    --color-grey: white;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
}


.p-6 {
    padding: 4rem 3rem;
}

.contact-box {
    padding: 4rem 15rem;

}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;

}

.form-control {
    border: 1px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}


.register-bg {
    background-image: url('img-nuevo-registro/imgBG1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .register-bg {
        min-height: 50vh;
    }
}

@media (max-width: 820.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}





/* navbar and footer */
#navegacion {
    position: fixed;
    width: 100%;
    z-index: 6666;
    font-family: "montserrat", sans-serif;
  }
  
  #menu ul li a {
    text-decoration: none;
    color: black;
    margin: 0 12px;
    transition: 0.5s;
    font-weight: bold;
  }
  
  #menu ul li a:hover {
    color: blueviolet;
  }
  
  #redes a {
    color: black;
    font-size: 30px;
    margin: 0 10px;
  }
  
  #redes ul li a:hover {
    color: blueviolet;
  }
  
  #sesion button {
    color: white;
    font-size: 20px;
  }
  
  #sesion button:hover {
    color: blueviolet;
  }

  footer {
    width: 100%;
    background-color: #322BAA;
    color: #A0AEC0;
    padding: 6px 2px 2px 2px;
    font-size: medium;
  }
  
  footer p {
    text-align: center;
    font-family: "montserrat", sans-serif;
  }
  
  .container_footer {
    display: flex;
    flex-direction: row;
  }
  
  .iconos_footer {
    width: 60%;
    padding-left: 70px;
  }
  
  .iconos_footer img {
    width: 45px;
    height: 45px;
    padding: 5px;
  }
  
  .iconos_footer img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .terminos_privacidad {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-family: "montserrat", sans-serif;
  }
  
  .terminos_privacidad a {
    text-decoration: none;
  }
